@model FinalProject.Areas.Admin.ViewModels.SystemSettingViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
<div class="col-lg-7">
<div class="card">
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileLogo1" class="control-label"></label>
                <input asp-for="FileLogo1" class="form-control" />
                <span asp-validation-for="FileLogo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileLogo2" class="control-label"></label>
                <input asp-for="FileLogo2" class="form-control" />
                <span asp-validation-for="FileLogo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSettingCopyright" class="control-label"></label>
                <input asp-for="SystemSettingCopyright" class="form-control" />
                <span asp-validation-for="SystemSettingCopyright" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSettingWelcomeNoteTitle" class="control-label"></label>
                <input asp-for="SystemSettingWelcomeNoteTitle" class="form-control" />
                <span asp-validation-for="SystemSettingWelcomeNoteTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSettingWelcomeNoteBreef" class="control-label"></label>
                <input asp-for="SystemSettingWelcomeNoteBreef" class="form-control" />
                <span asp-validation-for="SystemSettingWelcomeNoteBreef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSettingWelcomeNoteDesc" class="control-label"></label>
                <input asp-for="SystemSettingWelcomeNoteDesc" class="form-control" />
                <span asp-validation-for="SystemSettingWelcomeNoteDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSettingWelcomeNoteUrl" class="control-label"></label>
                <input asp-for="SystemSettingWelcomeNoteUrl" class="form-control" />
                <span asp-validation-for="SystemSettingWelcomeNoteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileNote" class="control-label"></label>
                <input asp-for="FileNote" class="form-control" />
                <span asp-validation-for="FileNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSettingMapLocation" class="control-label"></label>
                <input asp-for="SystemSettingMapLocation" class="form-control" />
                <span asp-validation-for="SystemSettingMapLocation" class="text-danger"></span>
            </div>
           
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

</div>