@model FinalProject.Areas.Admin.ViewModels.MasterPartnerViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="row justify-content-center">
<div class="col-lg-7">
<div class="card">
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MasterPartnerName" class="control-label"></label>
                <input asp-for="MasterPartnerName" class="form-control" />
                <span asp-validation-for="MasterPartnerName" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="MasterPartnerLogoImageUrl" class="control-label"></label>
                <input asp-for="MasterPartnerLogoImageUrl" class="form-control" />
                <span asp-validation-for="MasterPartnerLogoImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterPartnerWebsiteUrl" class="control-label"></label>
                <input asp-for="MasterPartnerWebsiteUrl" class="form-control" />
                <span asp-validation-for="MasterPartnerWebsiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="file" class="control-label"></label>
                <input asp-for="file" class="form-control" />
                <span asp-validation-for="file" class="text-danger"></span>
            </div>
           
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

</div>